<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ship.user.first_name %>
</p>

<p>
  <b>Destination:</b>
  <%= @ship.destination %>
</p>


<%= link_to 'Edit', edit_ship_path(@ship) %> |
<%= link_to 'Back', ships_path %>
